fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
pydantic
python-jose[cryptography]
passlib
bcrypt
pandas
openpyxl
xlrd
google-auth
google-api-python-client
requests
numpy
python-dateutil
gunicorn
pydantic-settings
jinja2
# Dependencies for Marta AI Assistant
langchain-google-vertexai
langchain
pytz
google-auth-oauthlib
langchain-community
faiss-cpu
langchain-text-splitters